
@model VirtualStore.Models.Client
@{
    ViewData["Title"] = "CustomerRegister";
}

<form asp-action="CustomerRegister" asp-controller="Home" method="post">
    <main role="main">
        <section class="container" style="margin-top: 50px">
            <div class="row">
                <aside class="col-sm-6">
                    <h3 class="subtitle-doc">
                        Cadastro de Cliente
                    </h3>
                    <div id="code_register_1">
                        <div class="card">
                            <header class="card-header">
                                <a asp-controller="Home" action="SignIn" class="float-right btn btn-outline-primary mt-1">Entrar</a>
                                <h4 class="card-title mt-2">Cadastre-se</h4>
                            </header>
                            <article class="card-body">
                                @if (TempData["MSG_S"] != null)
                                {
                                <p class="alert alert-success">@TempData["MSG_S"]</p>
                                }
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label asp-for="Name">Nome</label>
                                        <input type="text" asp-for="Name" class="form-control" placeholder="">
                                        <span  asp-validation-for="Name"></span>

                                    </div>
                                    <div class="col form-group">
                                        <label asp-for="Birthdate">Nascimento</label>
                                        <input type="text" asp-for="Birthdate" class="form-control" placeholder="">
                                        <span  asp-validation-for="Birthdate"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Gender" value="M">
                                        <span class="form-check-label"> Masculino </span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Gender" value="F">
                                        <span class="form-check-label"> Feminino</span>
                                    </label>
                                    <br />
                                    <span  asp-validation-for="Gender"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IdentityNumber">CPF</label>
                                    <input type="text" asp-for="IdentityNumber" class="form-control" placeholder="">
                                    <span  asp-validation-for="IdentityNumber"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone">Telefone</label>
                                    <input type="text" asp-for="Phone" class="form-control" placeholder="">
                                    <span  asp-validation-for="Phone"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input type="email" asp-for="Email" class="form-control" placeholder="">
                                    <span  asp-validation-for="Email"></span>
                                    <small class="form-text text-muted">
                                        Seu e-mail não será compartilhado.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password">Senha</label>
                                    <input asp-for="Password" class="form-control" type="password">
                                    <span  asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Cadastrar </button>
                                </div>
                                <small class="text-muted">
                                    Clicando no botão cadastrar, você confirma que leu e aceitou
                                    <br> Termos de use and Política de Privacidade.
                                </small>
                            </article>
                            <div class="border-top card-body text-center">Já tem uma conta? <a href="">Entrar</a></div>
                        </div>

                    </div>
                </aside>
            </div>
        </section>
    </main>
</form>